{% extends "loggedinlayout.html" %}

{% block groups %}
    <!-- Posts are created using a for loop iterating over the posts variable
    in flaskblog.py -->

    <h3 align="center">
            Groups:
    </h3>

    <ul class="list-group d-flex align-items-center">

        <li class="w-25 list-group-item blueItems" id="newItemListElement">
            <pre>New Group</pre>
                <form action="" method="post">
                        <button class="btn pull-right top_right" name="addButton" value="1">&#x2713;</button>
                        <pre>Group Name:  </pre>
                        <input value="" id="groupNameID" name="groupNameID">
                </form>
            </li>
    {% for lists in lists %}
        <li class="groupList w-25 list-group-item blueItems">
            <pre>
                <div class="listButtonInfo"><h6>Group Name: {{lists[0]}}</h6><h6>Average member rating: {{lists[2]}}</h6></div>
                <form action="" method="post">
                    <button class="listButton" name="listButton" value={{lists[1]}}>View Group</button>
                    <input type="hidden" value="{{lists[0]}}" name="groupName">
                </form>
            </pre>
        </li>
    {% endfor %}
    </ul>


{% endblock %}