{% extends "loggedinlayout.html" %}

{% block group %}
    <!-- Posts are created using a for loop iterating over the posts variable
    in flaskblog.py -->

    <h3 align="center">
            {{name}}
    </h3>
    <h4 align="center">
        Creator: {{creator}}
    </h4>

    <div align="center">
        {% if admin == 1 %}
            <div>
            <form method="post">
                <input name="ShoppingDate" value="{{date}}" type="date">
                <button name="ShoppingButton" value="1">Submit</button>
            </form>
            </div>
        {% else %}
            <h4>{{date}}</h4>
        {% endif %}
    </div>

    <div class="flex-container">
        <div class="flex-child">
            {% if isMember != 0 %}
            <h4>Members:</h4>
            <ul>

                {% for Members in members %}
                    <div class="memberDiv">
                        <li class="list-group-item">
                            <div>{{Members[0]}}</div>
                            {% if Members[1] != user %}
                                <form method="post">
                                    <button name="rateButton" class="rateButton" value="{{Members[1]}}">Rate</button>
                                    <input type="hidden" value="{{Members[0]}}" name="memberName">
                                    {% if admin == 1 %}
                                    <button name="kickButton" class="kickButton" value="{{Members[1]}}">Kick</button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </li>
                    </div>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <div class="flex-child">
            <h4>Group List: </h4>
            <ul class="list-group">
            {% for lists in list %}
                <li class="groupList list-group-item blueItems">
                    <pre>
                        <div class="GroupListInfo"><h6>Item: {{lists[0]}}</h6><h6>Quantity: {{lists[1]}}</h6></div>
                    </pre>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="flex-child">
            {% if isMember != 0 %}
            <h4>Sales: </h4>
            <ul>
                {% for sale in sales %}
                <li class="list-group-item">
                    <div class="container">
                        <div>
                            Store Name: {{sale[0]}}
                        </div>
                        <div>
                            Item: {{sale[1]}}
                        </div>
                        <div>
                            Start date: {{sale[2]}}
                        </div>
                        <div>
                            End date: {{sale[3]}}
                        </div>
                        <div>
                            Discount Amount: {{sale[4]}}%
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <form action="" method="post">
        <div align="center">
        {% if isMember == 0 and admin == 0 %}
            <button class="membershipButton" name="JoinButton" value="JoinButton" align="center">Join Group</button>
        {% elif admin == 1 %}
            <button class="membershipButton" name="DeleteButton" value="DeleteButton" align="center">Disband Group</button>
        {% else %}
            <button class="membershipButton" name="LeaveButton" value="LeaveButton" align="center">Leave Group</button>
        {% endif %}
        </div>

    </form>




{% endblock %}