{% extends "loggedinlayout.html" %}

{% block group %}
    <!-- Posts are created using a for loop iterating over the posts variable
    in flaskblog.py -->

    <h3>
            Specific Group page:
    </h3>

    <ul class="list-group d-flex align-items-center">
    {% for lists in list %}
        <li class="groupList w-25 list-group-item blueItems">
            <pre>
                <div class="GroupListInfo"><h6>Item: {{lists[0]}}</h6><h6>Quantity: {{lists[1]}}</h6></div>
            </pre>
        </li>
    {% endfor %}
    </ul>

    <form action="" method="post">
    {% if isMember == 0 %}
        <button name="JoinButton" value="JoinButton">Join Group</button>
    {% else %}
        <button name="LeaveButton" value="LeaveButton">Leave Group</button>
    {% endif %}
    </form>
{% endblock %}