{% extends "layout.html" %}
{% block listitems %}
    <!-- Posts are created using a for loop iterating over the posts variable
    in flaskblog.py -->

    <div>
        <h3>
            {{Name}}
        </h3>

        <ul class="list-group d-flex align-items-center" id="listItems">
            <li class="w-25 list-group-item blueItems" id="newItemListElement">
                <form action="" method="post">
                        <button class="btn pull-right top_right" name="addButton" value="1">&#x2713;</button>
                        <pre>Item: </pre>
                        <input value="" id="itemNameID" name="itemNameID">
                        <pre>Quantity: </pre>
                        <input value="" id="quantityID" name="quantityID">
                </form>
            </li>
             {% for items in list %}
            <li class="w-25 list-group-item blueItems" id="{{items[0]}}">
                <form action="" method="post">
                    <button class="btn pull-right top_right" name="deleteButton" value="{{items[0]}}">x</button>
                </form>
                <pre>Item: {{items[0]}}</pre>
                <pre>Quantity:</pre>
                <form action="" method="post">
                    <input name="quantity" value="{{items[1]}}">
                    <input type="hidden" value="{{items[0]}}" name="itemName">
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}