{% extends "layout.html" %}
{% block listitems %}
    <!-- Posts are created using a for loop iterating over the posts variable
    in flaskblog.py -->

    <div>
        <h3>
            {{Name}}
        </h3>

        <ul class="list-group d-flex align-items-center" id="listItems">
             {% for items in list %}
            <li class="w-25 list-group-item blueItems" id="{{items[0]}}">
                <button class="btn pull-right top_right" onclick=hideElement("{{items[0]}}")>x</button>
                <pre>Item: {{items[0]}}</pre>
                <pre>Quantity:</pre>
                <form action="" method="post"><input name="quantity" value="{{items[1]}}"></form>
            </li>
            {% endfor %}
        </ul>
    </div>

<script>
    function hideElement(index){
        var item = document.getElementById(index);
        item.parentNode.removeChild(item);
    }
</script>
{% endblock %}