{% extends "loggedinlayout.html" %}
{% block title %} My Info {% endblock %}
{% block info %}

    <div>
        <p class="font-weight-bold">User ID:</p>
        <p>{{cusdata[0]}}</p>
    </div>

    <div>
        <p class="font-weight-bold">First Name:</p>
        <p>{{cusdata[1]}}</p>
    </div>

    <div>
        <p class="font-weight-bold">Last Name:</p>
        <p>{{cusdata[2]}}</p>
    </div>

    <div>
        <p class="font-weight-bold">Username:</p>
        <p>{{usedata[1]}}</p>
    </div>

    <div>
        <p class="font-weight-bold">Password:</p>
        <p>{{usedata[2]}}</p>
    </div>

    <div>
        <p class="font-weight-bold">Email:</p>
        <p>{{usedata[3]}}</p>
    </div>

    <div>
        <p class="font-weight-bold">Street Name:</p>
        <p>{{usedata[4]}}</p>
    </div>

    <div>
        <p class="font-weight-bold">Unit Number:</p>
        <p>{{usedata[5]}}</p>
    </div>
<form method="POST">
    <br />
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
{% endblock %}